* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-color: #F4F6FA;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 12px 0;
}

.text-right {
  text-align: right;
}

.text-pink {
  color: #F73E7F;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.sign-in-box {
  background-color: #FFF;
  border: 1px solid #DFE1E5;
  border-radius: 4px;
}

.sign-in-body {
  padding: 60px 80px 40px 80px;
}

.sign-in-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 700;
  -ms-flex-pack: distribute;
      justify-content: space-around; 
  font-size: 1.05rem;
}

.sign-in-label p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sign-in-input input {
  width: 100%;
  border-radius: 4px;
  padding: 15px 20px;
  border: 1px solid #DFE1E5;
  margin-bottom: 16px;
}

.sign-in-input input::-webkit-input-placeholder {
  color: #94979F;
  font-size: 1.05rem;
}

.sign-in-input input:-ms-input-placeholder {
  color: #94979F;
  font-size: 1.05rem;
}

.sign-in-input input::-ms-input-placeholder {
  color: #94979F;
  font-size: 1.05rem;
}

.sign-in-input input::placeholder {
  color: #94979F;
  font-size: 1.05rem;
}

.sign-in-login-button {
  width: 100%;
  text-align: center;
  background-color: #F73E7F;
  color: #FFF;
  border: 0px;
  border-radius: 4px;
  padding: 15px 0;
  font-size: 1.05rem;
  font-weight: 700;
  cursor: pointer;
}

.sign-in-register {
  margin-top: 40px;
}

.sign-in-register-button {
  width: 100%;
  text-align: center;
  background-color: #FFF;
  color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 15px 0;
  font-weight: 700;
  font-size: 1.05rem;
  cursor: pointer;
}

.sign-in-footer {
  border-top: 1px solid #DFE1E5;
  padding: 40px;
}

.sign-in-footer ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sign-in-footer ul li {
  display:inline; 
  padding: 0;
  margin: 0;
}
